# Reference: https://artifacthub.io/packages/helm/jenkinsci/jenkins/5.8.124

# persistence:
#   mounts:
#     - name: jenkins-home
#       mountPath: /tmp/backup

serviceAccount:
  create: true

controller:
  containerEnv:
    - name: JENKINS_AGENT_SECRET_GENERAL
      valueFrom:
        secretKeyRef:
          name: "jenkins-creds"
          key: JENKINS_AGENT_SECRET_GENERAL
  initScripts:
    fixed-agent-secret: |
      import jenkins.model.Jenkins
      import hudson.slaves.*

      def jenkins = Jenkins.getInstance()
      def nodeName = "General"
      def remoteFS = "/home/jenkins/agent-general"
      def secret = System.getenv("JENKINS_AGENT_SECRET_GENERAL")

      if (secret == null) {
          throw new Exception("JENKINS_AGENT_SECRET_GENERAL environment variable is not set!")
      }

      if (jenkins.getNode(nodeName) == null) {
          def launcher = new JNLPLauncher(true)
          def node = new DumbSlave(nodeName, remoteFS, launcher)
          node.numExecutors = 1
          node.labelString = "General"
          node.mode = Node.Mode.NORMAL
          node.retentionStrategy = new RetentionStrategy.Always()
          jenkins.addNode(node)
          jenkins.save()
      }

      def node = jenkins.getNode(nodeName)
      def computer = node.toComputer()
      def secretBytes = secret.getBytes("UTF-8")
      computer.setJnlpMac(javax.xml.bind.DatatypeConverter.printHexBinary(secretBytes).toLowerCase())

      jenkins.save()
  JCasC:
    configScripts:
      agents: |
        jenkins:
          nodes:
            - permanent:
                name: "General"
                remoteFS: "/home/jenkins/agent-general"
                numExecutors: 1
                launcher:
                  inbound:
                    workDirSettings:
                      disabled: false
                      workDirPath: "/home/jenkins/agent-general"
                      internalDir: "remoting"
  admin:
    existingSecret: "jenkins-creds"
    userKey: jenkins-admin-user
    passwordKey: jenkins-admin-password
  ## BACKUP JENKINS
  # jenkinsHome: "/tmp/backup"
  # containerEnv:
  #   - name: JENKINS_HOME
  #     value: "/tmp/backup"

  additionalPlugins:
    - uno-choice:2.8.8
    - thinBackup:2.1.3
    - aws-credentials:254.v978a_5e206a_d7
    - azure-credentials:395.vb_a_9203343ef5
    - rebuild:338.va_0a_b_50e29397
    - ansicolor:1.0.6
    - audit-trail:436.vc0d1e79fc5a_3
    - audit-log:1.3
    - custom-folder-icon:2.21

  resources:
    requests:
      cpu: "200m"
      memory: "500Mi"
    limits:
      cpu: "500m"
      memory: "1000Mi"

  ingress:
    enabled: true
    labels: {}
    annotations:
      argocd.argoproj.io/ignore-healthcheck: "true"
    hostName: jenkins.khangtictoc.io
    ingressClassName: nginx

  prometheus:
    enabled: false
    scrapeInterval: 30s
    scrapeEndpoint: /prometheus

  ## BACKUP JENKINS
  # sidecars:
  #   additionalSidecarContainers:
  #     - name: jenkins-backup
  #       image: docker.io/ubuntu:22.04
  #       command: ["/bin/bash", "-c", "sleep infinity"]
  #       securityContext:
  #         runAsGroup: 0
  #         runAsUser: 0
  #       volumeMounts:
  #         - mountPath: /var/jenkins_home
  #           name: jenkins-home
  #         - mountPath: /tmp/backup
  #           name: jenkins-home

agent:
  enabled: true
  jenkinsUrl: khangtictoc.jenkins.io
